<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp</title>
  </head>

  <body>
    <%- include ('partials/_header') %>

    <main style="margin: 2rem auto; max-width: 800px;">
      <div class="card text-center shadow">
        <div class="card-body">
          <h4 class="card-title">TinyURL for: <%= longURL %></h4>
          <p>
            Short URL ID: 
            <a href="/u/<%= id %>" target="_blank" rel="noopener noreferrer">
              <%= id %>
            </a>
          </p>
        </div>

        <!-- Edit Section -->
        <div class="card-footer">
          <h5>Edit</h5>    
          <form method="POST" action="/urls/<%= id %>?_method=PUT" class="form-inline justify-content-center">
            <label for="longURL" class="mr-2">New URL:</label>
            <input
              id="longURL"
              type="text"
              name="longURL"
              placeholder="http://"
              class="form-control mr-2"
              style="width: 300px;"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <!-- Metadata -->
        <div class="card-body">
          <h5 class="card-title">Date Created:</h5>
          <p class="card-text"><%= createdDate %></p>

          <h5 class="card-title">Number of times this URL has been visited:</h5>
          <p class="card-text"><%= visitCount %></p>
        </div>

        <!-- Visitors Table -->
        <div class="card-body">
          <h5>Viewers</h5>
          <% if (Object.keys(visitors).length === 0) { %>
            <p class="text-muted">No visits yet</p>
          <% } else { %>
            <table class="table table-bordered table-striped" style="width: 60%; margin: auto;">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <% for (let viewerID in visitors) { %>
                  <tr>
                    <td><%= viewerID %></td>
                    <td><%= visitors[viewerID].timestamp %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } %>
        </div>
      </div>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>